/* .nav-link {
  color: white !important;
  background-color: #256cb2 !important;
  font-size: 14px;
  font-weight: 600 !important;
  border-color: #256cb2 !important;
  font-family: "Jost", sans-serif;
  border-radius: 5px;
  padding-left: 30px !important;
  padding-right: 30px !important;
} */
.nav-link {
  color: #256cb2 !important;
 
  font-size: 14px;
  font-weight: 600 !important;
  
  font-family: "Jost", sans-serif;
  border-radius: 5px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.dropdown-item {
  color: #256cb2;
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Jost", sans-serif;
}
.dropdown-item:hover {
  color: #6ba4de;
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Jost", sans-serif;
}
.dropdown-menu {
  border-color: #ffffff !important;
  box-shadow: 0px 4px 100px 20px rgba(25, 73, 121, 0.46);
  border-radius: 10px;
}
.form-check-label{
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1em !important;
  height: 1em !important;
  vertical-align: middle;
  background-image: url("/src/img/logo.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #256cb2 !important;
}
.navbar-toggler{
  color:  #e4eef8  !important;
}
/* .navbar-collapse {
background-color: #e4eef8 !important;
border-radius: 10px !important;
} */