@keyframes hrcard-move {
  from {
    color: #9e9e9e;
    background-color: #deeefe;
    font-family: "Jost", sans-serif;
    font-weight: 600 !important;
    font-size: 12px;
    padding-top: 100px;
  }
  to {
    color: #52575c;
    background-color: white;
    font-family: "Jost", sans-serif;
    font-weight: 600 !important;
    padding-top: 0px;
  }
}
.card-hr-blogs {
  background-color: white;
  box-shadow: 0px 4px 100px 20px rgba(214, 225, 235, 0.49);
  border-radius: 10px;
  animation: hrcard-move 2s;
}
.card-img-style {
  border-radius: 10px;
  border-bottom: 1 px solid #c0d0df;
}
.card-hr-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  color: #256cb2;
}
.card-hr-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #52575c;
}
.card-hr-blogs:hover {
  /* background-color: #dfecf9; */
  background-color: white;
  box-shadow: 0px 4px 100px 20px rgba(70, 122, 172, 0.822);
  border-radius: 10px;
  transition-duration: 1s;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
