.job-details-card {
  background-color: white;
  box-shadow: 0px 4px 50px #e6ebef;
  border-radius: 10px;
}
.job-detail-card-title {
  color: #52575c;
  font-weight: 500;
  font-size: 24px;
  font-family: "Jost", sans-serif;
}
.job-save-btn {
  color: #60676d;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: white;
  border: #e6ebef 1px solid;
}
.job-share-btn {
  color: #60676d;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: white;
  border: #e6ebef 1px solid;
}

.job-apply-btn {
  color: #256cb2;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: #f6f8fa;
  border: #e6ebef 1px solid;
}
.job-save-btn:hover {
  color: #60676d;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: #dcdcdc;
  border: #e6ebef 1px solid;
}
.job-share-btn:hover {
  color: #60676d;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: #dcdcdc;
  border: #e6ebef 1px solid;
}

.job-apply-btn:hover {
  color: #256cb2;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  background-color: #dcdcdc;
  border: #e6ebef 1px solid;
}
.company-type {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  color: #858d95;
  font-weight: 400;
}
.company-city {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  color: #52575c;
  font-weight: 400;
}
.bold-detail-text {
  color: #52575c;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}
.detail-text {
  color: #52575c;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}
.nomination-criteria-bg {
  background-color: #f8f8f8;
  border-radius: 10px;
}
.nomination-criteria-title {
  font-weight: 500;
  color: #256cb2;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
.nomination-criteria-text {
  color: #60676d;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.follow-btn {
  background-color: #f6f8fa;
  color: #256cb2;
  font-size: 14px;
  border-color: #f6f8fa;
}
.card-line {
  border-bottom: solid 1px #e6ebef;
}
.company-page-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #256cb2;
}
