.hr-header {
  color: #256cb2;
  font-size: 22px;
  font-weight: 500;
}
.bg-highlights {
  background-color: #e4ebf1;
  border-radius: 10px;
}
.header-highlights {
  color: #256cb2;
  font-weight: 600 !important;
  border-color: #256cb2 !important;
  font-family: "Jost", sans-serif;
  font-size: 24px;
}
.card {
  background: #ffff;
  border: #fff 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card:hover {
  background: #c3d2e9;
  border: #c3d2e9 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 2s;
  font-size: 20px;
}
.job-style {
  color: #09075d;
  font-weight: 600;
  font-family: "Jost", sans-serif !important;
}
.job-style:hover {
  color: #3675d3;

  font-weight: 600;
  font-family: "Jost", sans-serif !important;
  transition-duration: 2s;
}
.company-name {
  color: #256cb2;
  font-weight: 400;
  font-size: 14px;
}
.city-name {
  color: #859db4;
  font-weight: 400;
  font-size: 12px;
}
.login-btn {
  background-color: #256cb2 !important;
  font-size: 14px;
  font-weight: 600 !important;
  border-color: #256cb2 !important;
  font-family: "Jost", sans-serif;
}
.line-header {
  border-bottom: #d2e0eb 1px solid;
  padding-bottom: 10px;
}
.tab-menu-text {
  color: #256cb2 !important;
  font-family: "Jost", sans-serif;
  font-weight: 600 !important;
}
.tab-menu-text:hover {
  color: #7f9db5 !important;
  font-family: "Jost", sans-serif;
  font-weight: 700 !important;
}
.bg-color {
  background-color: #256cb2;
  border-radius: 10px;
}
.header {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.input-style {
  border: #8eb9e4 1px solid !important;
  border-radius: 5px;
  font-size: 14px;
  color: #8eb9e4 !important;
  font-family: "Jost", sans-serif !important;
}
.search-button {
  background-color: white !important;
  color: #256cb2 !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #8eb9e4;
}
.popular-button {
  background-color: white !important;
  color: #52575c !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #8eb9e4;
}
.popular-button:hover {
  background-color: #e7eef5 !important;
  color: #162533 !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #e7eef5;
  box-shadow: 0px 2px 20px 4px #e7eef5bf;
  transition-duration: 1s;
}
.popular-button-mobile {
  background-color: #256cb2 !important;
  color: #ffffff !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #256cb2 !important;
}
.form-control {
  color: #256cb2 !important;
  border: #8eb9e4 1px solid !important;
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
  box-shadow: 0px 4px 100px 20px #e7eef5;
}

.form-select {
  color: #256cb2 !important;
  border: #8eb9e4 1px solid !important;
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
}
.bg-privileges {
  background-color: #e4ebf1;
  border-radius: 10px;
}
.privileges-header {
  color: #256cb2;
  font-weight: 600;
  font-size: 24px;
  font-family: "Jost", sans-serif !important;
}
.priveleges-card {
  background-color: white;
  color: #52575c;
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
  box-shadow: 0px 4px 50px #b9cde0;
  border-radius: 10px;
}
.priveleges-card:hover {
  background-color: #dbe7f4;
  color: #52575c;
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
  box-shadow: 0px 4px 50px #b9cde0;
  border-radius: 10px;
  transition-duration: 1s;
}
.header-bg {
  background-color: #256cb2 !important;
  border-radius: 10px;
}
.page-header-text {
  color: #fff;
  font-family: "Jost", sans-serif !important;
  font-size: 36px;
  font-weight: 600;
}
.mobile-header-text{
  color: #fff;
  font-family: "Jost", sans-serif !important;
  font-size:28px;
  font-weight: 600;
}
.btn-primary {
  background-color: #256cb2;
  color: #fff;
  font-family: "Jost", sans-serif !important;
  border-color: #256cb2;
  font-size: 16px;
  font-weight: 600;
}
.btn-primary:hover {
  font-family: "Jost", sans-serif !important;
  border-color: #b9cde0;
  font-size: 16px;
  font-weight: 600;
}
.form-label {
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
  color: #256cb2;
}
.new-account-text {
  font-size: 12px;
  font-weight: normal;
  font-family: "Jost", sans-serif !important;
  color: #256cb2;
}
.banner-style {
  border-radius: 10px;
}

@keyframes destination-move {
  from {
    background-color: #eff3f8;
    color: #d9eafa;
    font-family: "Jost", sans-serif;
    font-weight: 600 !important;
    font-size: 12px;
  }
  to {
    color: #256cb2;
    font-family: "Jost", sans-serif;
    font-weight: 600 !important;
  }
}

.destination-block {
  background-color: #cddbe9;
  color: #194979;
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
  animation: destination-move 2s;
}
.destination-block:hover {
  background-color: #7dacdb;
  color: #194979;
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
  z-index: 3;
  font-size: 16px;
  box-shadow: 0px 4px 50px #2e87da;
  transition-duration: 2s;
}
