.hr-header {
  color: #256cb2;
  font-size: 22px;
  font-weight: 500;
}
.bg-highlights {
  background-color: #e4ebf1;
}
.header-highlights {
  color: #256cb2;
  font-weight: 600 !important;
  border-color: #256cb2 !important;
  font-family: "Jost", sans-serif;
  font-size: 24px;
}
.card {
  background: #ffff;
  border: #fff 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.job-style {
  color: #09075d;
  font-weight: 600;
  font-family: "Jost", sans-serif !important;
}
.company-name {
  color: #256cb2;
  font-weight: 400;
  font-size: 16px;
}
.city-name {
  color: #859db4;
  font-weight: 400;
  font-size: 12px;
}
.login-btn {
  background-color: #256cb2 !important;
  font-size: 14px;
  font-weight: 600 !important;
  border-color: #256cb2 !important;
  font-family: "Jost", sans-serif;
}
.line-header {
  border-bottom: #d2e0eb 1px solid;
  padding-bottom: 10px;
}
.tab-menu-text {
  color: #256cb2 !important;
  font-family: "Jost", sans-serif;
  font-weight: 600 !important;
}
.tab-menu-text:hover {
  color: #7f9db5 !important;
  font-family: "Jost", sans-serif;
  font-weight: 700 !important;
}
.bg-color {
  background-color: #256cb2;
}
.header {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.input-style {
  border: #8eb9e4 1px solid !important;
  border-radius: 5px;
  font-size: 14px;
  color: #8eb9e4 !important;
  font-family: "Jost", sans-serif !important;
}
.search-button {
  background-color: white !important;
  color: #256cb2 !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #8eb9e4;
}
.popular-button {
  background-color: white !important;
  color: #52575c !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #8eb9e4;
}
.popular-button:hover {
  background-color: #8eb9e4 !important;
  color: #256cb2 !important;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-color: #8eb9e4;
}
.form-control {
  color: #256cb2 !important;
  border: #8eb9e4 1px solid !important;
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
  box-shadow: 0px 4px 100px 20px #E7EEF5;

}

.form-select {
  color: #256cb2 !important;
  border: #8eb9e4 1px solid !important;
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
}
.bg-privileges {
  background-color: #e4ebf1;
}
.privileges-header {
  color: #256cb2;
  font-weight: 600;
  font-size: 24px;
  font-family: "Jost", sans-serif !important;
}
.priveleges-card {
  background-color: white;
  color: #52575c;
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
  box-shadow: 0px 4px 50px #b9cde0;
  border-radius: 10px;
}
.header-bg {
  background-color: #256cb2 !important;
  border-radius: 10px;
}
.page-header-text {
  color: #fff;
  font-family: "Jost", sans-serif !important;
  font-size: 36px;
  font-weight: 600;
}
.btn-primary {
  background-color: #256cb2;
  color: #fff;
  font-family: "Jost", sans-serif !important;
  border-color: #256cb2;
  font-size: 16px;
  font-weight: 600;
}
.btn-primary:hover {
  font-family: "Jost", sans-serif !important;
  border-color: #b9cde0;
  font-size: 16px;
  font-weight: 600;
}
.form-label {
  font-family: "Jost", sans-serif !important;
  font-weight: 600;
  color: #256cb2;
}
.new-account-text {
  font-size: 12px;
  font-weight: normal;
  font-family: "Jost", sans-serif !important;
  color: #256cb2;
}
