.user-profile-card-bg{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 100px 5px #D4DFEA;
}
.user-profile-card-title{
    color: #194979;
    font-size: 20px;
    font-family: "Jost", sans-serif;
    font-size: 500;
}
.edit-profile-btn{
    background-color: #E7EEF5;
    color: #256CB2;
    font-weight: 500;
    font-size: 16px;
    border-color: #E7EEF5;
}
.edit-profile-btn:hover{
    background-color: #94b3d3;
    color: #256CB2;
    font-weight: 500;
    font-size: 16px;
    border-color: #94b3d3;
}
.card-bold-text{
    color: #256CB2;
    font-weight: 600;
    font-size: 16px;
    font-family: "Jost", sans-serif;
}
.profile-card-text{
    color: #52575C;
    font-weight: 400;
    font-size: 16px;
    font-family: "Jost", sans-serif;
}